/* Foundation */
.colum, .columns {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.panel {
	background-color : #FFF;
	margin-bottom: 0.5rem;
	box-shadow: 1px 1px 1px #DDD;
}



/* Site CSS */

body {
    background-color: #f2f2f2;;
}

@media only screen and (min-width: 1080px) {
	.container, .top-bar {
		width: 1000px;
		margin: auto;
	}

	.fixed {
		background: #333333;
	}
}


#content {
	margin: 10px;
	margin-top: 10px;
}

#map {
	height: 100%;
}

.small-picture {
	border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
}

/* Posts */

.panel.post {
	padding: 10px;
}
.panel.post .header {
	font-size: smaller;
	width: 100%;
}
.panel.post .header .picture {
	display: inline-block;
}
.panel.post .header .info {
	display: inline-block;
	vertical-align: bottom;
}


/* Map */

.place {
	margin-bottom: 4px;
}