/* Foundation */
.colum, .columns {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.panel {
	background-color : #FFF;
	margin-bottom: 0.5rem;
	box-shadow: 1px 1px 1px #DDD;
}


/* Select-2 Foundation issues */
.select2-hidden-accessible {
	display: none;
}

.select2-container {
	background: #FAFAFA url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgMTYgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+DQo=") no-repeat scroll 99% 50%;
}



/* Site CSS */

body {
    background-color: #f2f2f2;;
}

@media only screen and (min-width: 1080px) {
	.container, .top-bar {
		width: 1000px;
		margin: auto;
	}

	.fixed {
		background: #333333;
	}
}


#content {
	margin: 10px;
	margin-top: 10px;
}

.small-picture {
	border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
}

/* Posts */

.panel.post {
	padding: 10px;
}
.panel.post .header {
	font-size: smaller;
	width: 100%;
}
.panel.post .header .picture {
	display: inline-block;
}
.panel.post .header .info {
	display: inline-block;
	vertical-align: bottom;
}


/* Map */

.place {
	margin-bottom: 4px;
}