/* Extend container background to page bottom */
html, body, .container
{
    height: 100%;
}
body
{
	display: flex;
    flex-direction: column;
}
.container {
	display: flex-box;
	flex-grow: 1;
}

/* Site CSS */

body {
    background-color: #EEE;
}

.container {
	background-color: #FFF;
}

@media only screen and (min-width: 1080px) {
	.container {
		width: 1000px;
		margin: auto;
	}
}


#content {
	margin: 10px;
	margin-top: 25px;
}